<tbody>
	  <tr>
	    <li>Email:<%= @user.email %></li>
	    <li>Username:<%= @user.username %></li>
	    <li>Contact Number:<%= @user.tel %></li>
	    <li>Company name:<%= @user.company %></li>
	   
	  </tr>
</tbody>
<br>


<div id="edit">
	<%= form_for(@user, remote: true) do |f| %>
	    <p>
	      <%= f.label :username %><br>
	      <%= f.text_area :username %>
	    </p>

	    <p>
	      <%= f.label :tel %><br>
	      <%= f.number_field :tel %>
	    </p>

	    <p>
	      <%= f.label :company %><br>
	      <%= f.text_area :company %>
	    </p>

	    <p>
	      <%= f.submit %>
	    </p>
	  <% end %> 
</div>
	<button id="pro">Edit Profile</button>
<br>


<h1>subscription plan:$5 for 3 months calculator subscription</h1><br>


<div>
   <% if @user.subscribe == false %>
			<strong>Subscription Status: Not a subscriber</strong>

			<%= form_tag charges_path do %>
			  <article>
			    <% if flash[:error].present? %>
			      <div id="error_explanation">
			        <p><%= flash[:error] %></p>
			      </div>
			    <% end %>
			    <label class="amount">
			      <span>Amount: $5.00</span>
			    </label>
			  </article>

			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			          data-description="A month's subscription"
			          data-amount="500"
			          data-locale="auto"></script>
			   <% end %>
		<% else %>
			<strong>Subscription Status: Subscribed!</strong>
      <span class="btn btn-success">Thank You for Subscribing to Investment Calculator</span>          
	<% end %>
</div>

