<!DOCTYPE html>
<html>
  <head>
    <title>Investment Calculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Investment Calculator</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li> Signed in as <%= current_user.email %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li> <%= link_to "Logout", '/logout' %> </li>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li>
          <li><%= link_to 'Sign Up', '/signup' %></li>
        <% end %>
    </ul>
  </div>
</nav>
    

    <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>


    <%= yield %>

  </body>
</html>
